div,
nav,
span {
  box-sizing: border-box;
}

#toggle-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

#close-sidenav {
  cursor: pointer;
}

.sidenav img {
  width: 100%;
  object-fit: cover;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  transition: 0.2s;
  box-sizing: border-box;
  box-shadow: -1px -1px 15px #0000006b;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.showSideNav {
  width: 400px;
}

.sidenav-title {
  position: fixed;
  width: 400px;
  top: 0;
  transition: top 0.5s ease;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  background: linear-gradient(180deg, #3d50e0 0, #3d50e0ab 100%);
}

#blogs {
  margin-top: 58px;
  height: calc(100vh - 58px);
  overflow-y: auto;
  padding: 10px;
}

.loader {
  display: none;
}

.loading {
  display: block !important;
}

.post {
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: rgb(66, 66, 66);
  margin-bottom: 15px;
  color: rgb(66, 66, 66);
}

.post-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-status {
  background: #ffae1b;
  padding: 4px 6px;
  font-size: 10px;
  color: #fff;
  border-radius: 10px;
  margin-right: 5px;
  overflow: hidden;
  text-transform: uppercase;
}

.post-date {
  color: #8da2b5;
}

.post-heading {
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.4;
  color: #4b63af;
  font-size: 20px;
}
